.headerBg {
  width: 100%;
  height: 180px;
  background-color: var(--dark);
  /* background-image: url(../../../img/header/header.png); */
  background-attachment: fixed;
  position: relative;
}

.headerBg::after {
  position: absolute;
  content: "DIGROWFA";
  font-family: boldfont;
  color: var(--dark);
  font-size: 150px;
  text-shadow: -0.001em -0.001em 1px rgba(67, 67, 67, 1.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mobile-menu {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu_click {
  margin-top: 8px;
}

.menu_click div {
  width: 35px;
  height: 2px;
  margin-bottom: 8px;
  background-color: var(--dark);
  transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, background-color 250ms;
}

.menu_click.active #top {
  transform: translateY(10px) rotate(-135deg);
}

.menu_click.active #middle {
  opacity: 0;
  transform: rotate(135deg);
}

.menu_click.active #bottom {
  transform: translateY(-10px) rotate(-45deg);
}

.mobileNavigation ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mobileNavigation ul li img {
  max-width: 180px;
}

.mobileNavigation {
  padding: 5px 1rem;
  background-color: var(--white);
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 999999;
}

/* ========== */

.mobileNavigationBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #2e3944;
  padding: 2px 1rem;
  z-index: 999;
}
.mobileNavigationBox a img {
  width: 115px;
  height: 60px;
}
.mobileNavigationBox h2 {
  font-size: 26px;
  margin: 0;
}

.mobileNavToggle svg {
  width: 20px;
  height: 20px;
}

.assss {
  margin-top: 4rem;
  padding-bottom: 5rem;
}

/* ===================Responsive=========== */

@media (min-width: 319.98px) and (max-width: 379.98px) {
  .mobileNavigationBox {
    padding: 1rem 1rem;
  }
}

@media (min-width: 380px) and (max-width: 424.98px) {
  .mobileNavigationBox {
    padding: 1rem 1rem;
  }
}

@media (min-width: 425px) and (max-width: 575.98px) {
  .mobileNavigationBox {
    padding: 1rem 1rem;
  }
}

@media (min-width: 576px) and (max-width: 768.98px) {
  .mobileNavigationBox {
    padding: 1rem 1rem;
  }
}

@media (min-width: 769px) and (max-width: 991.98px) {
  .mobileNavigationBox {
    padding: 1rem 1rem;
  }
}

@media (min-width: 992px) and (max-width: 1023.98px) {
}

@media (min-width: 1024px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1279.98px) {
}

@media (min-width: 1280px) and (max-width: 1299.98px) {
}

@media (min-width: 1300px) and (max-width: 1359.98px) {
}

@media (min-width: 1360px) and (max-width: 1439.98px) {
}

@media (min-width: 1440px) and (max-width: 1536.98px) {
}

@media (min-width: 1537px) and (max-width: 1920px) {
}
