.loginBg {
  background-color: #124e66;
  height: 100vh;
  position: relative;
}

.loginLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.orderCard {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
}
.amountandusername {
  display: flex;
  justify-content: space-between;
}
.amountandusername button {
  height: 30px;
  width: 120px;
  border: 0.5px solid lightgray;
}

.username {
  height: 100px;
  width: 200px;
  /* border: 1px solid red; */
}
.username h5 {
  text-align: center;
}
.orderCard h5 {
  font-size: 18px;
  margin-bottom: 10px;
}

.orderCard p {
  font-size: 14px;
  margin-bottom: 5px;
}
.productdetails {
  gap: 10px;
}
.singleproduct {
  border: 0.5px solid lightgray;
  margin-top: 1rem;
  padding: 2rem;
}
.pricedivwishlist {
  /* border: 1px solid red; */
  display: flex;
  /* padding: 13px; */
  justify-content: space-between;
}
.pricedBoxwishlist {
  /* border: 1px solid red; */
  display: flex;
  /* padding: 13px;   */
  /* padding-left: 5px; */
  justify-content: space-between;
}
.offerpricewishlist {
  /* border: 1px solid red; */
  display: flex;
  padding-left: 5px;
  justify-content: space-between;
}
.offerpricewishlist span {
  padding-left: 5px;
  color: green;
  font-size: 14px;
}
/* """""'moneyrequest css" */

.usernameseller {
  display: flex;
  justify-content: space-between;
}
.Addressdiv {
  width: 100%;
  border: 0.5px solid lightgray;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
/* You can add more styling as needed */

.loginLogo img {
  max-width: 200px;
}
.loginLogo h2 {
  font-size: 50px;
  color: var(--white);
  font-family: mediumfont;
  margin-top: 4.5rem;
}

.title {
  margin-top: 5rem;
  margin-bottom: 1rem;
  color: #fff;
}

.title h4 {
  font-family: mediumfont;
}

.tagsList ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.tagsList ul li {
  margin: 10px;
  padding: 2px 15px;
  background-color: #cfebff;
  color: var(--secondary);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagsList ul li span svg {
  color: red;
  margin-left: 10px;
  cursor: pointer;
}

/* ===========dashboard page================== */

.dashboardCard {
  border-radius: 10px;

  padding: 1.5rem 2rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.dashboardCardIcon {
  align-items: center;
  background-color: var(--primary);
  border-radius: 6px;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}
/* Your global CSS file or within a style tag */
.dashboardCardBody p {
  margin: 0;
}

.topcard1 {
  background-color: rgba(170, 246, 170, 0.5);
  height: 100px;
  width: 100%;
  display: flex;
  /* color:green; */
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  color: white;
  /* margin-left: 30px; */
}
.topcar1 {
  background-color: rgba(102, 204, 255, 0.5);
  height: 80px;
  width: 100%;
  display: flex;
  /* color:green; */
  justify-content: flex-start;
  align-items: center;

  color: white;
  /* margin-left: 30px; */
}
.topcar1 p {
  color: rgba(3, 47, 69, 0.5);
  margin-left: 30px;
}
.topcar2 {
  background-color: rgba(0, 128, 0, 0.5);
  height: 80px;
  width: 100%;
  display: flex;
  /* color:green; */
  justify-content: flex-start;
  align-items: center;

  color: white;
  /* margin-left: 30px; */
}
.topcar2 p {
  color: rgba(6, 44, 6, 0.5);
  margin-left: 30px;
}
.topcar3 {
  background-color: rgba(255, 0, 0, 0.5); /* Red with transparency */

  height: 80px;
  width: 100%;
  display: flex;
  /* color:green; */
  justify-content: flex-start;
  align-items: center;

  color: white;
  /* margin-left: 30px; */
}
.topcar3 p {
  color: rgba(59, 34, 34, 0.5);
  margin-left: 30px;
}
.topcards1 {
  height: 45px;
  width: 45px;
  background-color: rgb(4, 137, 4);
  justify-content: center;
  align-items: center;
  display: flex;
  /* border: 1px solid red; */
  border-radius: 5px;
}
.topcards2 {
  height: 45px;
  width: 45px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgba(196, 40, 9, 0.6); /* border: 1px solid green; */
  border-radius: 5px;
}

.sellerdmidCard {
  width: 100%;
  height: 100%;
  border: 1px solid var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.buttons {
  /* border: 1px solid green; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.buttons button {
  height: 40px;
  width: 100px;
  color: #e5e4e2;
  border-radius: 5px;
  border: 0px;
  /* border: 0px solid lightblue; */
}
.topcards3 {
  height: 45px;
  width: 45px;
  justify-content: center;
  align-items: center;
  background-color: rgb(157, 167, 27);
  display: flex;
  /* border: 1px solid red; */
  border-radius: 5px;
}
.topcards4 {
  height: 45px;
  width: 45px;
  justify-content: center;
  align-items: center;
  background-color: rgb(68, 192, 241);
  display: flex;
  /* border: 1px solid red; */
  border-radius: 5px;
}
.topcard2 p {
  color: rgba(196, 40, 9, 0.6);
  margin-left: 30px;
}

.topcard3 p {
  color: rgb(157, 167, 27);
  margin-left: 30px;
}
.topcard4 p {
  color: rgb(68, 192, 241);
  margin-left: 30px;
}
.topcard2 {
  background-color: rgba(246, 144, 144, 0.6);
  height: 100px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.topcard3 {
  background-color: rgb(233, 241, 118);
  height: 100px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.topcardss1 {
  height: 45px;
  width: 45px;
  justify-content: center;
  align-items: center;
  background-color: rgb(68, 192, 241);
  display: flex;
  /* border: 1px solid red; */
  border-radius: 5px;
}
.topcardss2 {
  height: 45px;
  width: 45px;
  justify-content: center;
  align-items: center;
  background-color: green;
  display: flex;
  /* border: 1px solid red; */
  border-radius: 5px;
}
.topcardss3 {
  height: 45px;
  width: 45px;
  justify-content: center;
  align-items: center;
  background-color: red;
  display: flex;
  /* border: 1px solid red; */
  border-radius: 5px;
}

.topcard4 {
  background-color: rgb(209, 237, 248);
  height: 100px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.imgPrev {
  width: 100px;
  height: 100px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}
/* "mid section css of dashboarad" */

.sellermidCard {
  width: 100%;
  height: 100px;
  border: 1px solid var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

/* ?????????/selle section ? */
.dashboardmidCard {
  width: 100%;
  height: 150px;
  border: 1px solid var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: var(--shadow);
  flex-direction: column-reverse;
  text-align: center;
  margin-bottom: 1.5rem;
}

.dashboardmidcardtitle p {
  margin: 0;
}
.dashboardmidcardtitle :nth-child(2) {
  font-size: 22px;
  font-weight: bold;
  color: var(--white);
}

.dashboardmidcardtitle :nth-child(1) {
  font-size: 34px;
  /* color: rgb(145, 140, 140); */
  font-weight: bold;
  color: var(--white);
}

.dashboardCardmidIcon svg {
  color: var(--white);
  width: 40px;
  height: 40px;
}
/* 
.midcardicon1 {
  color: rgb(247, 194, 98);
}
.midcardicon2 {
  color: rgb(193, 125, 193);
}
.midcardicon3 {
  color: rgb(132, 77, 77);
}
.midcardicon4 {
  color: rgb(229, 179, 187);
}
.midcardicon5 {
  color: skyblue;
}
.midcardicon6 {
  color: green;
}
.midcardicon7 {
  color: teal;
}
.midcardicon8 {
  color: gold;
}
.midcardicon9 {
  color: violet;
} */

/* """""end of mid card section " */

/* ============end================ */

/* ==============edit/add================ */
.dashboardAccordion .accordion {
  --bs-accordion-border-width: 0;
  --bs-accordion-inner-border-radius: 0;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-btn-focus-border-color: none;
  --bs-accordion-active-bg: transparent;
  --bs-accordion-active-color: var(--dark);
}

.dashboardAccordion .accordion-item {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  border-radius: 20px !important;
  margin-bottom: 2rem;
  padding: 1rem 0;
}

.dashboardAccordion .accordion-button {
  font-family: mediumfont;
}

.dashboardAccordion .accordion-body {
  padding: 1rem 2rem !important;
}

.categoryBtnList ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.dashboardAddBtn {
  background: #ff3c3c;
  border-radius: 10px;
  padding: 10px 1.5rem;
  color: var(--white);
  outline: none;
  border: none;
  font-size: 14px;
}

.dashboardAddBtn img {
  margin-right: 6px;
}

.exportBtn {
  padding: 10px 1.5rem;
  border-radius: 10px;
  color: var(--white);
  outline: none;
  border: none;
  font-size: 14px;
  background-color: #124e66;
}

.addCategoryModal {
  text-align: center;
  position: relative;
  padding: 1rem;
}

.addCategoryModal h4 {
  font-family: mediumfont;
  font-size: 20px;
  margin-bottom: 1rem;
}

.formInput {
  margin: 1.5rem;
}

.formInput input,
.formInput select,
.formInput textarea {
  width: 100%;
  padding: 10px 15px;
  background: var(--white);
  border-radius: 6px;
  border: 1px solid var(--border);
  outline: none;
  box-shadow: var(--shadow);
}

.formRadioGroup label {
  text-transform: capitalize;
}

.formInput select,
.formInput select option {
  text-transform: capitalize;
}

.formBtn button {
  padding: 10px 20px;
  border-radius: 6px;
  outline: none;
  border: none;
  background-color: #124e66;
  color: var(--white);
  /* margin-top: 1rem; */
}

.addCategoryModal.detail {
  text-align: left;
}

.addCategoryModal.detail .closeModalBtn {
  left: 0rem;
  top: -10px;
}

.closeModalBtn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  z-index: 99;
}

.closeModalBtn svg {
  font-size: 25px;
  color: #ff3c3c;
}

.cancleBtn {
  background-color: var(--background-light) !important;
  color: var(--black) !important;
  font-family: mediumfont;
  border: 1px solid var(--border) !important;
  margin-left: 10px;
}

/* =======input error====== */
.error {
  border: 1px solid red !important;
  /* box-shadow: 2px 2px red, 2px 2px 0 1px red; */
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: var(--bs-modal-padding);
  background-color: #124e66 !important;
  color: #fff !important;
  border-radius: 5px !important;
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  font-family: mediumfont;
  text-align: left;
  text-transform: capitalize;
}

.spinner-border {
  width: 1rem !important;
  height: 1rem !important;
  --bs-spinner-border-width: 2px !important;
}

/* =======end====== */
.green,
.red {
  text-transform: capitalize;
  font-family: mediumfont;
  width: max-content;
  border-radius: 5px;
  padding: 3px 8px;
  font-size: 12px;
}

.green {
  background-color: #07bc0c24;
  color: #07bc0c;
}

.red {
  background-color: #ff00002b;
  color: red;
}

/* ========data table============ */
.exportBtnBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.dataTable table thead tr th {
  border-top: 1px solid #0000008f;
  border-bottom: 1px solid #0000008f;
  font-family: semibold;
}

.dataTable table thead tr th span div {
  font-family: semibold;
}

.dataTable table tbody tr td {
  font-size: 14px !important;
  text-transform: capitalize;
}

.dataTable .css-1fw5qro-MuiPaper-root {
  box-shadow: none;
}

.dataTable .css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  box-shadow: none;
}

.dataTable .MuiPaper-elevation2 {
  box-shadow: none;
}

.dataTable .MuiToolbar-gutters {
  padding: 0;
  background-color: #2e3944;
}

.dataTable .MuiTable-root {
  background-color: #2e3944;
}

.dataTable .MMuiSvgIcon-root {
  color: #fff;
}
/* ===========end========== */

.contentBox {
  background-color: #2e3944;
  border-radius: 10px !important;
  margin-bottom: 8px;
  padding: 1rem;
  border: 1px solid #2e3944;
  /* margin-left: 3rem; */
}
.contentBoxLeft {
  background-color: #2e3944;
  border-radius: 10px !important;
  margin-bottom: 8px;
  padding: 1rem;
  border: 1px solid #2e3944;
}

.contentBox .nav-tabs .nav-item .nav-link.active {
  background-color: var(--dark);
  color: var(--white);
}

.contentBox .nav-tabs .nav-item .nav-link:hover,
.contentBox .nav-tabs .nav-item .nav-link:focus {
  border: none;
}

/* ===========action button========= */
.actionBtn button {
  padding: 7px 10px;
  font-size: 12px;
  color: var(--white);
  font-family: mediumfont;
  text-transform: capitalize;
  border-radius: 6px;
  outline: none;
  border: none;

  width: 70px;
}

.actionBtn .delete {
  background-color: red;
}

.actionBtn .response {
  background-color: var(--dark);
}

.actionBtn .block {
  background-color: var(--primary);
  margin-right: 10px;
}

.actionBtn .suspended {
  background-color: #c7593f;
  margin-right: 10px;
  margin-bottom: 5px;
}

.actionBtn .activate {
  background-color: var(--primary);
  margin-right: 10px;
  margin-bottom: 5px;
}

/* =============end============= */

.studentProfilePic {
  width: 100px;
  height: 100px;
  border: 1px solid #3c48524a;
  border-style: dashed;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  /* background-image: url(../../img/header/profile.png); */
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.profileFormGroupImg {
  position: relative;
}

.profileFormGroupImg label {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid var(--white);
  top: 65%;
  left: 57%;
  transform: translate(-50%);
  cursor: pointer;
  text-align: center;
}

.profileFormGroupImg label svg {
  color: var(--white);
}

.printBtn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.printBtn button {
  padding: 10px 20px;
  background-color: var(--primary);
  border: none;
  outline: none;
  color: var(--white);
  font-family: mediumfont;
  border-radius: 6px;
}

.exportBtnBox .css-136h9lv-MuiFormControl-root-MuiTextField-root {
  width: 30%;
}

.nextPrevBtn {
  display: flex;
  justify-content: space-between;
}

.nextPrevBtn button {
  padding: 10px 20px;
  background-color: var(--dark);
  border: none;
  outline: none;
  color: var(--white);
  font-family: mediumfont;
  border-radius: 6px;
  text-transform: capitalize;
}

/* =====conformationModalContent========= */

.conformationModalContent {
  text-align: center;
}

.conformationModalContent p {
  font-size: 20px;
  font-family: mediumfont;
}

.conformationModalContent button {
  padding: 10px 20px;
  background-color: var(--primary);
  border: none;
  outline: none;
  color: var(--white);
  font-family: mediumfont;
  border-radius: 6px;
  text-transform: capitalize;
  margin: 0 10px;
}

/* ===========end============= */

.chooseCategoryTable form div {
  display: flex;
}

.chooseCategoryTable form div .form-check {
  margin-right: 1rem;
}

.chooseCategoryTable form div .form-check input {
  margin-right: 5px;
}

.categoryTable td {
  vertical-align: baseline;
}

.categoryTable td ul {
  padding: 0 0 0 5px;
  margin: 0;
  list-style-type: none;
}

.categoryTable td ul li {
  margin-bottom: 1rem;
  cursor: pointer;
  padding: 5px 0;
  text-transform: capitalize;
}

.categoryTable td ul li.active {
  color: var(--secondary);
  font-family: mediumfont;
  border-bottom: 2px solid var(--secondary);
  width: max-content;
}

.blackCategoryBox {
  width: 100%;
  text-transform: capitalize;
  text-align: center;
}

.tableImg img {
  max-width: 50px;
  cursor: pointer;
}

.pending {
  background-color: #fff4cf;
  color: #ffc700;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 6px;
}

.resolved {
  background-color: #ddffee;
  color: var(--primary);
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 6px;
}

.ongoing {
  background-color: #ff000023;
  color: #ff0000;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 6px;
}

.suspend {
  background-color: #ffbfbf;
  color: red;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 6px;
}

.reportedProblemModal {
  text-align: left;
}

.reportedProblemModal .formInput {
  margin: 0;
}

.reportedProblemModal h4 {
  text-align: center;
}

.reportedProblemModal ul {
  list-style: none;
  padding: 0;
  margin: 0 0 1.5rem 0;
}

.reportedProblemModal ul li {
  font-size: 14px;
  margin-bottom: 10px;
}

.reportedProblemModal ul li span {
  font-family: semibold;
  margin-right: 10px;
}

.reportedProblemModal .nav-tabs {
  --bs-nav-tabs-border-width: 0px;
  border-bottom: 1px solid #eaeaea;
}

.reportedProblemModal .nav {
  --bs-nav-link-color: none;
  --bs-nav-link-hover-color: none;
}

.reportedProblemModal .nav .nav-item .active {
  color: var(--secondary);
}

.imgModalPre img {
  max-width: 350px;
}

/* ====login==== */
.LoginForm {
  width: 500px;
  /* box-shadow: var(--shadow); */
  border: 1px solid var(--border);
  padding: 2rem 1rem;
  border-radius: 10px;
  background-color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ====end===== */

/* =======user detail===== */
.userDetailTabs {
  margin: 2rem 0;
}

.userDetailTabs .nav-tabs {
  background-color: transparent;
}

.userDetailTabs .nav-link:hover {
  border: none !important;
  background-color: transparent;
  border-color: transparent !important;
  margin-bottom: 0 !important;
}

.userDetailTabs .nav-link {
  border: none !important;
  background-color: transparent;
  border-color: transparent !important;
  margin-bottom: 0 !important;
  color: var(--dark);
  padding: 15px;
  border-radius: 10px !important;
}

.userDetailTabs .nav-link.active {
  background-color: var(--dark) !important;
  color: var(--white) !important;
}

.userDetailTabs .nav-item {
  margin-bottom: 2rem;
}

.userDetailBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.userDetailProfile {
  width: 120px;
  height: 120px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 20%;
  background-position: center;
  background-size: cover;
  margin-right: 1.5rem;
}

.aboutUser h1 {
  font-size: 26px;
  text-transform: capitalize;
  margin: 0;
  font-family: mediumfont;
}

.aboutUser p {
  margin: 1rem 0 0 0;
  text-transform: capitalize;
}

.userFollow {
  margin: 3rem 0 1rem 0;
}

.userFollow ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.userFollow ul li {
  text-align: center;
  margin: 0 3rem 0 0;
  color: var(--dark);
  position: relative;
}

.userFollow ul li::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 60px;
  background-color: #ccc;
  right: -1.6rem;
  top: -10px;
}

.userFollow ul li:last-child::after {
  display: none;
}

.userFollow ul li span {
  font-family: boldfont;
  color: var(--dark);
  font-size: 22px;
}

.userDetailBtn {
  margin: 2rem 0;
}

.userDetailBtn button {
  padding: 10px 1.5rem;
  border-radius: 6px;
  color: var(--white);
  outline: none;
  border: none;
  font-size: 14px;
  margin-right: 10px;
}

.userDetailBtn button svg {
  margin-right: 5px;
}

.userDetailBtn button:nth-child(1) {
  background-color: #bb001b;
}

.userDetailBtn button:nth-child(2) {
  background-color: var(--primary);
}

.userContentBox ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.userContent {
  padding: 2rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  margin: 0 1.5rem 1.5rem 0;
}

.userContent p {
  text-transform: capitalize;
  color: var(--secondary);
}

.userContent span {
  font-family: mediumfont;
}

/* ====end===== */

/* =============product============= */
.productBox {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  overflow: hidden;
  margin-top: 1.5rem;
}

.productImg {
  width: 100%;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.productImg.service {
  height: 195px;
}

.productDetail {
  padding: 1rem;
}

.productDetail h4 {
  font-size: 20px;
  font-family: mediumfont;
  text-transform: capitalize;
}

.productDetail h6 {
  font-family: boldfont;
  font-size: 20px;
}

.productBtn {
  margin-top: 1.5rem;
}

.productBtn button {
  margin-right: 1rem;
}

.productImgModalContent h4 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.productImgModalContent .swiper {
  width: 100%;
  height: 100%;
}

.productImgModalContent .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.productImgModalContent .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.addCategoryModal.detail .productImgPrev {
  height: 440px;
}

.productImgPrev {
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.reportedUserModalContent {
  display: flex;
  justify-content: space-between;
}

.modal {
  --bs-modal-zindex: 999999 !important;
}

.productPreviewImg {
  max-width: 100px !important;
  border-radius: 10px;
  cursor: pointer;
}

/* ===========end=============== */

/* ===categoryActionBtn=== */
.categoryActionBtn button {
  padding: 2px 8px;
  border: none;
  outline: none;
  margin-right: 5px;
  border-radius: 5px;
  background-color: transparent;
}

.categoryActionBtn .delete {
  background-color: rgba(255, 0, 0, 0.149);
  color: red;
}

.categoryActionBtn .update {
  background-color: #10c46a24;
  color: var(--primary);
}

/* ======user chat panel==== */
.userChatRoomBg {
  width: 100%;
  height: 100vh;
  background-color: var(--white);
  position: relative;
}

.userChatProfile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-position: top;
  background-size: contain;
  background-color: black;
  background-repeat: no-repeat;
  border: 3px solid var(--secondary);
}

.chatBox {
  width: 80% !important;
  height: 80vh;
  border: 1px solid #dddddd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  background-color: var(--white);
}

.userChatProfileBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
}

.userChatProfileBox h4 {
  font-family: mediumfont;
  font-size: 22px;
  margin: 0.8rem 0 0 0;
}

.userProfileLine {
  width: 100%;
  height: 100%;
  border-right: 1px solid #dddddd;
}

.chat-panel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.chat-panel .nav {
  width: 100%;
  height: 100%;
  border-right: 1px solid #dddddd;
}

.chat-panel .nav-item a {
  flex-direction: column !important;
}

.chat-panel .nav-pills .nav-link.active,
.chat-panel .nav-pills .show > .nav-link {
  background-color: #0c8ce924;
  border-radius: 0;
  padding: 0;
}

.choose-person-chat {
  position: relative;
}

.choose-person-chat .form-check input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 0;
  right: 0;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.choose-person-chat .form-check label {
  position: absolute;
}

.choose-person-chat .selectedUser {
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 0;
}

.chat-panel .nav-pills .nav-link.active .choose-person-chat .person-pic {
  border: 2px solid var(--secondary);
}

.chat-panel .nav-pills .nav-link.active .choose-person-chat .person-name h2 {
  color: var(--secondary);
}

.chat-panel .nav-pills .nav-link {
  border-radius: 0;
  padding: 0;
}

.conversation-title {
  width: 100%;
  display: flex;
  height: 65px;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

.conversation-title h2 {
  font-size: 22px;
  font-family: mediumfont;
  margin: 0;
}

.choose-person-chat {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  cursor: pointer;
  transition: 0.5s;
  padding: 12px;
  border-bottom: 1px solid #dddddd;
}

.person-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--dark);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}

.person-name {
  padding-left: 0.8rem;
}

.person-name h2 {
  font-size: 18px;
  text-transform: capitalize;
  font-family: mediumfont;
  margin: 0;
}

.person-name p {
  margin: 2px 0 0 0;
  font-size: 14px;
}

.conversation-bg {
  border-bottom: 1px solid rgb(0 0 0 / 20%);
  width: 100%;
  height: 70vh;
  overflow: scroll;
  overflow-x: hidden;
  /* background-color: red; */
  position: relative;
}

.conversation-box {
  width: 100%;
  height: 100%;
  padding: 25px;
  position: absolute;
  bottom: 0;
}

.conversation-box.hide {
  display: none;
}

.conversation-box.show {
  display: block;
}

.conversation-inbox .my-message-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.conversation-inbox .my-message-box .my-message {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.conversation-inbox .my-message-box .my-message p {
  background: #0c8ce924;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: max-content;
  margin: 0;
}

.conversation-inbox .my-message-box .my-message ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  margin-top: 5px;
}

.conversation-inbox .my-message-box .my-message ul li {
  font-size: 14px;
  position: relative;
  margin-left: 20px;
}

.person-message-box {
  display: flex;
}

.person-message-box .person-message-pic {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1rem;
}

.person-message-box .person-message-pic div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--dark);
}

.person-message-box .person-message {
  width: 70%;
}

.person-message-box .person-message p {
  background: #e4e4e4;
  padding: 15px;
  color: #141414;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: max-content;
  margin: 0;
}

.person-message-box .person-message ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-top: 5px;
  padding: 0;
}

.person-message-box .person-message ul li {
  font-size: 14px;
  position: relative;
  margin-right: 20px;
}

.userPanel {
  height: 100%;
  border-right: 1px solid #dddddd;
}

.chatMsg {
  max-width: 200px !important;
}

.addContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addContent button {
  height: 36px;
  padding: 5px 10px;
  background-color: var(--dark);
  color: var(--white);
  outline: none;
  border: none;
}

.formBox label {
  font-family: semibold;
}

/* ===end==== */

/* ///Billing info// */

.billingBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.addProductnumbers {
  border-radius: 50%;
  background-color: #f15a29;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.addProductsComplete {
  border-radius: 50%;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.addProductsComplete span svg {
  height: 15px;
  width: 15px;
  color: var(--white);
}

.addProductnumbers span {
  color: var(--white);
}

.addProductText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 0 0 12px;
}
.addProductText h5 {
  font-size: 16px !important;
  padding-top: 1rem;
}
.addProductText p {
  color: #74788d;
  font-size: 14px;
}

.addProductBtn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.addProductBtn button {
  padding: 10px 1.5rem;
  border-radius: 10px;
  color: var(--white);
  outline: none;
  border: none;
  font-size: 14px;
  background-color: var(--primary);
}

.productInputTitle {
  width: 100%;
  margin-bottom: 1rem;
  padding-top: 1.5rem;
  font-size: 24px;
}

.productUploadInputBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 80px;
}

.productUploadInput {
  border: 1px solid var(--primary);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  position: relative;
}

.productUploadInput input {
  position: absolute;
  opacity: 0;
  height: 70%;
  width: 70%;
}

.productUploadInput svg {
  height: 35px;
  width: 35px;
  cursor: pointer;
  bottom: 0px;
  color: black;
}

.productUploadImg {
  width: 100%;
  height: 100%;
  opacity: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.productUploadImg {
  display: flex;
  justify-content: flex-end;
}
.productUploadImg span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  background-color: var(--primary);
  border-radius: 50%;
}
.productUploadImg span svg {
  height: 18px;
  width: 18px;
  color: var(--white);
}

.formInputBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.formInputBox label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.formCheckBox {
  padding: 6px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.2s ease;
  margin: 8px 0;
}

.formCheckBox input {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: none;
  border: 0;
  box-shadow: inset 0 0 0 1px #9f9f9f;
  padding: 0;
  margin: 0;
  transition: box-shadow 150ms cubic-bezier(0.95, 0.15, 0.5, 1.25);
}
.formCheckBox input:focus {
  outline: none;
}
.formCheckBox input:checked {
  background-color: #6743ee;
}

/* ===========text editor========= */

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  height: 200px;
}

.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}

.ql-align-left {
  text-align: left;
}

.ql-align-justify {
  text-align: justify;
}

.quill {
  position: relative;
  z-index: 999;
}

.ql-toolbar.ql-snow {
  border-color: var(--border) !important;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background-color: var(--background-light);
}

.ql-editor {
  border-color: var(--border) !important;
}

/* ===========end=========== */

/* //////Add Variation//////// */

.addProductBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.productSizeInputBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.addVariationImagesBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.addVariationBox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* ========One time password======== */
.OtpHeading {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.OtpHeading h1 {
  font-size: 32px;
  font-family: mediumfont;
}

.formInputOtp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formInputOtp input {
  width: 50px !important;
  margin: 0 0.4rem;
  border: 2px solid var(--border);
  border-radius: 6px;
}

.formInputOtp span {
  opacity: 0;
}

.formInput button {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
}

.mainBlock {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: auto;
  background-color: #124e66;
}

.vhProduct {
  height: max-content !important;
}

.mainBlock > div:nth-child(1) {
  width: 18%;
}

.mainBlock > div:nth-child(2) {
  width: 82%;
}

.mainBlock > .vhCat {
  height: 100vh !important;
}

.mainBlock .vhDash {
  height: 100vh !important;
}

.inpCol {
  color: #fff !important;
}

.inpControl {
  background-color: #2e3944 !important;
  color: #fff !important;
}

.inpControl::placeholder {
  color: #fff !important;
}

.inpControl span input {
  background-color: #2e3944 !important;
  color: #fff !important;
}

.inpControl span input::placeholder {
  color: #fff !important;
}
/* /////end////////// */

/* ====Responsive========== */

@media (min-width: 319.98px) and (max-width: 379.98px) {
  .dashboardMainBox {
    margin-top: 4rem;
  }

  .contentBox {
    padding: 1rem;
  }

  .dataTable .MuiToolbar-root {
    display: block !important;
  }

  .categoryBtnList ul {
    display: block;
  }

  .dashboardAddBtn {
    margin-bottom: 1rem;
    width: 100%;
  }

  /* Codewedid */

  .exportBtnBox {
    display: block;
    margin: 5px;
  }

  .exportBtn {
    width: 100%;
  }

  .addProductBtn button {
    width: 100%;
  }

  .addProductBtn {
    margin-bottom: 40px;
  }

  .mainBlock > div:nth-child(2) {
    width: 100%;
  }

  /* Codewedid */

  .addCategoryModal {
    padding: 0;
  }

  .closeModalBtn {
    top: 0;
    left: 0;
  }

  .formInput {
    margin: 1.5rem 0;
  }

  .actionBtn .suspended {
    margin-right: 0;
  }

  .reportedUserModalContent {
    display: block;
  }

  .LoginForm {
    width: 90%;
    padding: 1.5rem 1rem;
  }

  .userFollow ul {
    flex-wrap: wrap;
  }

  .userFollow ul li {
    margin: 0 3rem 2rem 0;
  }

  .headerBg::after {
    font-size: 60px;
  }

  /* ================ */
  .title h4 {
    font-size: 20px;
  }

  .dashboardmidCard {
    height: 120px;
    margin-bottom: 0.5rem;
  }

  .dashboardmidcardtitle :nth-child(1) {
    font-size: 28px;
  }
  .dashboardmidcardtitle :nth-child(2) {
    font-size: 20px;
  }

  .loginLogo h2 {
    font-size: 38px;
  }
}

@media (min-width: 380px) and (max-width: 424.98px) {
  .dashboardMainBox {
    margin-top: 4rem;
  }

  .contentBox {
    padding: 1rem;
  }

  .dataTable .MuiToolbar-root {
    display: block !important;
  }

  .categoryBtnList ul {
    display: block;
  }

  .dashboardAddBtn {
    margin-bottom: 1rem;
    width: 100%;
  }

  /* Codewedid */

  .exportBtnBox {
    display: block;
    margin: 5px;
  }

  .exportBtn {
    width: 100%;
  }

  .addProductBtn button {
    width: 100%;
  }

  .addProductBtn {
    margin-bottom: 40px;
  }

  .mainBlock > div:nth-child(2) {
    width: 100%;
  }

  /* Codewedid */

  .addCategoryModal {
    padding: 0;
  }

  .closeModalBtn {
    top: 0;
    left: 0;
  }

  .formInput {
    margin: 1.5rem 0;
  }

  .actionBtn .suspended {
    margin-right: 0;
  }

  .reportedUserModalContent {
    display: block;
  }

  .LoginForm {
    width: 90%;
    padding: 1.5rem 1rem;
  }

  .userFollow ul {
    flex-wrap: wrap;
  }

  .userFollow ul li {
    margin: 0 3rem 2rem 0;
  }

  .headerBg::after {
    font-size: 60px;
  }

  /* ================ */
  .title h4 {
    font-size: 20px;
  }

  .dashboardmidCard {
    height: 130px;
    margin-bottom: 0.5rem;
  }

  .dashboardmidcardtitle :nth-child(1) {
    font-size: 28px;
  }
  .dashboardmidcardtitle :nth-child(2) {
    font-size: 20px;
  }
  .loginLogo h2 {
    font-size: 38px;
  }
}

@media (min-width: 425px) and (max-width: 575.98px) {
  .dashboardMainBox {
    margin-top: 4rem;
  }

  .categoryBtnList ul {
    display: block;
  }

  .dashboardAddBtn {
    margin-bottom: 1rem;
    width: 100%;
  }

  /* Codewedid */

  .exportBtnBox {
    display: block;
    margin: 5px;
  }

  .exportBtn {
    width: 100%;
  }

  .addProductBtn button {
    width: 100%;
  }

  .addProductBtn {
    margin-bottom: 40px;
  }

  .mainBlock > div:nth-child(2) {
    width: 100%;
  }

  /* Codewedid */

  .addCategoryModal {
    padding: 0;
  }

  .closeModalBtn {
    top: 0;
    left: 0;
  }

  .formInput {
    margin: 1.5rem 0;
  }

  .actionBtn .suspended {
    margin-right: 0;
  }

  .reportedUserModalContent {
    display: block;
  }

  .LoginForm {
    width: 90%;
    padding: 1.5rem 1rem;
  }

  .dataTable .MuiToolbar-root {
    display: block !important;
  }

  .userFollow ul {
    flex-wrap: wrap;
  }

  .userFollow ul li {
    margin: 0 3rem 2rem 0;
  }

  .headerBg::after {
    font-size: 70px;
  }

  /* ================ */
  .title h4 {
    font-size: 20px;
  }

  .dashboardmidCard {
    height: 130px;
    margin-bottom: 0.5rem;
  }

  .dashboardmidcardtitle :nth-child(1) {
    font-size: 28px;
  }
  .dashboardmidcardtitle :nth-child(2) {
    font-size: 20px;
  }

  .loginLogo h2 {
    font-size: 38px;
  }
}

@media (min-width: 576px) and (max-width: 768.98px) {
  .categoryBtnList ul {
    display: block;
  }

  .dashboardAddBtn {
    margin-bottom: 1rem;
    width: 100%;
  }

  /* Codewedid */

  .exportBtnBox {
    display: block;
    margin: 5px;
  }

  .exportBtn {
    width: 100%;
  }

  .addProductBtn button {
    width: 100%;
  }

  .addProductBtn {
    margin-bottom: 40px;
  }

  .mainBlock > div:nth-child(2) {
    width: 100%;
  }

  /* Codewedid */

  .actionBtn .suspended {
    margin-right: 0;
  }

  .headerBg::after {
    font-size: 70px;
  }

  /* ================ */
  .title h4 {
    font-size: 20px;
  }

  .dashboardmidCard {
    height: 130px;
    margin-bottom: 0.5rem;
  }

  .dashboardmidcardtitle :nth-child(1) {
    font-size: 28px;
  }
  .dashboardmidcardtitle :nth-child(2) {
    font-size: 20px;
  }

  .loginLogo h2 {
    font-size: 45px;
    margin-top: 3rem;
  }
}

@media (min-width: 769px) and (max-width: 991.98px) {
  .actionBtn .suspended {
    margin-right: 0;
  }

  /* ================ */
  .title h4 {
    font-size: 20px;
  }

  .dashboardmidCard {
    height: 130px;
    margin-bottom: 0.5rem;
  }

  .dashboardmidcardtitle :nth-child(1) {
    font-size: 28px;
  }
  .dashboardmidcardtitle :nth-child(2) {
    font-size: 20px;
  }

  .mainBlock > div:nth-child(2) {
    width: 100%;
  }

  .loginLogo h2 {
    font-size: 45px;
    margin-top: 3rem;
  }
}

@media (min-width: 992px) and (max-width: 1023.98px) {
  .actionBtn .suspended {
    margin-right: 0;
  }

  /* ================ */
  .title h4 {
    font-size: 21px;
  }

  .dashboardmidCard {
    height: 130px;
    margin-bottom: 0.5rem;
  }

  .dashboardmidcardtitle :nth-child(1) {
    font-size: 30px;
  }
  .dashboardmidcardtitle :nth-child(2) {
    font-size: 20px;
  }

  .title {
    margin-top: 2rem;
  }

  .card1 .drag-area {
    display: flex;
    flex-direction: column;
    padding: 5px;
    font-size: 13px;
  }

  .mainBlock > div:nth-child(1) {
    width: 23%;
  }
  .mainBlock > div:nth-child(2) {
    width: 74%;
  }

  .loginLogo h2 {
    font-size: 45px;
    margin-top: 3rem;
  }
}

@media (min-width: 1024px) and (max-width: 1199.98px) {
  .actionBtn .suspended {
    margin-right: 0;
  }
  .title {
    margin-top: 2rem;
  }

  /* ================ */
  .title h4 {
    font-size: 21px;
  }

  .dashboardmidCard {
    height: 140px;
    margin-bottom: 0.5rem;
  }

  .dashboardmidcardtitle :nth-child(1) {
    font-size: 30px;
  }
  .dashboardmidcardtitle :nth-child(2) {
    font-size: 20px;
  }

  .title {
    margin-top: 2rem;
  }

  .card1 .drag-area {
    display: flex;
    flex-direction: column;
    padding: 5px;
    font-size: 13px;
  }

  .mainBlock > div:nth-child(1) {
    width: 23%;
  }
  .mainBlock > div:nth-child(2) {
    width: 74%;
  }

  .loginLogo h2 {
    font-size: 45px;
    margin-top: 3rem;
  }
}

@media (min-width: 1200px) and (max-width: 1279.98px) {
  .actionBtn .suspended {
    margin-right: 0;
  }

  /* ================ */
  .title h4 {
    font-size: 21px;
  }

  .dashboardmidCard {
    height: 140px;
    margin-bottom: 0.5rem;
  }

  .dashboardmidcardtitle :nth-child(1) {
    font-size: 30px;
  }
  .dashboardmidcardtitle :nth-child(2) {
    font-size: 20px;
  }

  .title {
    margin-top: 2rem;
  }
  .dashboardContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .dashboardMainBox {
    width: 95%;
  }

  .loginLogo h2 {
    font-size: 45px;
    margin-top: 3rem;
  }
}

@media (min-width: 1280px) and (max-width: 1299.98px) {
  .actionBtn .suspended {
    margin-right: 0;
  }
  /* ================ */
  .title h4 {
    font-size: 21px;
  }

  .dashboardmidCard {
    height: 140px;
    margin-bottom: 0.5rem;
  }

  .dashboardmidcardtitle :nth-child(1) {
    font-size: 30px;
  }
  .dashboardmidcardtitle :nth-child(2) {
    font-size: 20px;
  }

  .title {
    margin-top: 2rem;
  }
  .dashboardContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .dashboardMainBox {
    width: 95%;
  }

  .loginLogo h2 {
    font-size: 47px;
    margin-top: 3rem;
  }
}

@media (min-width: 1300px) and (max-width: 1359.98px) {
  .actionBtn .suspended {
    margin-right: 0;
  }
  /* ================ */
  .title h4 {
    font-size: 22px;
  }

  .dashboardmidCard {
    height: 145px;
    margin-bottom: 1rem;
  }

  .dashboardmidcardtitle :nth-child(1) {
    font-size: 30px;
  }
  .dashboardmidcardtitle :nth-child(2) {
    font-size: 20px;
  }

  .title {
    margin-top: 2rem;
  }
  .dashboardContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .dashboardMainBox {
    width: 95%;
  }
}

@media (min-width: 1360px) and (max-width: 1439.98px) {
  .title {
    margin-top: 2rem;
  }
  .dashboardContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .dashboardMainBox {
    width: 95%;
  }
}

@media (min-width: 1440px) and (max-width: 1536.98px) {
  .dashboardMainBox {
    /* padding: 0 0 0 6rem; */
  }

  .mainBlock > div:nth-child(2) {
    width: 78%;
  }
}

@media (min-width: 1537px) and (max-width: 1920px) {
}

/* Product-Inputs */

.productInpBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.productInputsQA {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.addInputBtn Button {
  padding: 10px 1.5rem;
  border-radius: 10px;
  color: var(--white);
  outline: none;
  border: none;
  font-size: 14px;
  background-color: var(--primary);
}

/* Image Drag and Drop */

.card1 {
  /* padding: 10px;
  box-shadow: 0 0 5px #ffdfdf;
  border-radius: 5px; */
  overflow: hidden;
}

.card1 .top p {
  color: #fff;
}

.card1 .drag-area {
  height: 150px;
  border-radius: 5px;
  border: 2px dashed #124e66;
  color: #fff;
  background: #2e3944;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  margin-top: 10px;
}

.card1 .drag-area .visible {
  font-size: 18px;
}

.card1 .select {
  color: blue;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.4s;
}

.card1 .select:hover {
  opacity: 0.6s;
}

.card1 .container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 10px;
  padding-left: 0;
  padding-right: 0;
}

.card1 .container .image {
  width: 72px;
  margin-right: 5px;
  height: 75px;
  position: relative;
  margin-bottom: 8px;
}

.card1 .container .image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.card1 .container .image span {
  position: absolute;
  top: -2px;
  right: 9px;
  font-size: 20px;
  cursor: pointer;
}

.card1 input,
.card1 .drag-area .on-drop,
.card1 .drag-area.dragover .visible {
  display: none;
}

.delete {
  z-index: 999;
  color: #0086fe;
}

/* Product Details CSS */
.btnDiv {
  display: flex;
  justify-content: flex-end;
}

.btnAns,
.btnFaq > button {
  padding: 10px 1.5rem;
  border-radius: 10px;
  color: var(--white);
  outline: none;
  border: none;
  font-size: 14px;
  background-color: var(--primary);
}

/* customs Tags Css */

/* ReactTag.css */

/* Custom styling for TagsInput */
.custom-tags-input {
  padding: 6px 12px;
  /* margin: 6px 0; */
  border: none;
  border-radius: 4px;
}

.custom-tags-input span input {
  border: none;
  outline: none;
  width: 100%;
}

/* Styling for close (x) symbol in each tag */
.react-tagsinput-tag {
  color: #fff;
  padding: 2px 6px;
  border-radius: 4px;
  margin-right: 4px;
  display: flex;
  align-items: center;
}

/* Styling for close (x) symbol in each tag */
.react-tagsinput-remove {
  cursor: pointer;
  margin-left: 4px;
  display: flex;
  align-items: center;
  color: #fff;
}

.react-tagsinput-remove:before {
  content: "×";
  margin-left: 4px;
}
/* Hide the close symbol for empty tags */
.react-tagsinput-tag-empty .react-tagsinput-remove {
  display: none;
}

.formInputBaqIcon {
  display: flex;
  justify-content: center;
  margin-top: 28px;
}

.rounded-circle {
  border-radius: 50%; /* Make the button round */
  border: none;
  height: 40px;
  width: 40px;
  background-color: var(--primary);
  color: white;
}

/* Add Variations Buttons for Alert */

.variationBtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.variationBtn button {
  padding: 10px 1.5rem;
  border-radius: 10px;
  color: var(--white);
  outline: none;
  border: none;
  font-size: 14px;
  background-color: var(--primary);
}
.rounded-circle-variation {
  border-radius: 50%; /* Make the button round */
  border: none;
  height: 30px;
  width: 30px;
  background-color: var(--primary);
  color: white;
}

/* QuillEdior Start */

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  height: max-content;
  border: none !important;
}

.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}

.ql-align-left {
  text-align: left;
}

.ql-align-justify {
  text-align: justify;
}

.quill {
  position: relative;
  z-index: 997;
}

.ql-toolbar.ql-snow {
  background-color: var(--background-light);
  border: none !important;
}

.ql-snow .ql-tooltip {
  left: 4px !important;
  top: 0px !important;
}

.ql-editor.ql-blank::before {
  font-size: 15px;
}

.ql-editor p {
  font-size: 15px !important;
}

.ql-editor {
  border-color: white !important;
  font-size: 20px;
  height: 252px !important;
  background-color: #fbfbfbba;
  margin-bottom: 8px;
}

.ql-editor::before {
  font-size: 20px;
  font-style: normal !important;
  color: var(--black);
}

.userNm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
}

.userEm {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*  ===========end===========  */
